.dish-details {
  height: 70vh;
  padding: 3.5em 3em;
  background: white;
  border-radius: 20px;
  font-family: "Signika", sans-serif;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 2em;

  .heading {
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      height: 30vh;
      border-radius: 10px;
      margin-bottom: 0.5em;
    }
    h3,
    h2 {
      color: maroon;
    }

    p {
      color: red;
    }
  }

  .ingredients {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    gap: 0.5em;

    h1 {
      font-size: 1.5rem;
      color: rgb(97, 96, 96);
    }

    h3 {
      font-size: 1rem;
      color: rgb(145, 145, 145);
    }
  }

  .btn {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    justify-content: center;
    margin-top: 2em;
    transition: ease-out;

    button {
      width: 100%;
      background: red;
      border-radius: 10px;
      font-size: 1.2rem;
      padding: 0.2em;
      outline: none;
      border: none;
      cursor: pointer;
      color: white;
      font-weight: 700;
    }

    h3 {
      text-align: center;
      background: whitesmoke;
      color: white;
    }

    :hover {
      background: rgb(167, 1, 1);
      transform: translateY(-5%);
    }
  }
}
