.main-content {
  flex: 0.82;
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
    to right,
    #ffffff,
    #f7f5fa,
    #f2eaf4,
    #efdfeb,
    #edd4e1
  );
}
